.bg-container {
    background-color: #f4f6f8;
    width: 100%;
    height: 100vh;
    padding: 20px;
}

.checked {
    text-decoration: line-through;
}

.button {
    color: white;
    background-color: #1e2a78;
    padding: 4px;
    border-radius: 5px;
    border-width: 0px;
    font-weight: bold;
}

.label-container {
    background-color: #f0f4ff;
    margin: 10px;
    width: 100%;
    border-radius: 5px;
}

.input {
    padding: 8px;
    border-radius: 5px;
    border-width: 1px;
    width: 100%;
}

.checkbox-label {
    font-size: 16px;
    padding-right: 10px;
    padding-top: 5px;
    width: 100%;
    padding-left: 4px;
}

.todo-items-container {
    margin: 0px;
    padding: 0px;
}

.delete-container {
    width: 18%;
    margin-left: 100px;
    margin-top: 3px;
}

.delete-button {
    background-color: #ff4d4d;
    color: white;
    padding: 5px 10px;
    font-size: 13px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-right: 4px;
}

.card {
    background-color: white;
    border-radius: 5px;
    width: 100%;
    padding: 10px;
    text-align: center;
}

.heading {
    color: #1e2a78;
    font-size: 22px;
    font-weight: bold;
}